In [7]:
import seaborn as sns
import pandas as pd

filename = r'C:\Users\caiot\OneDrive\Documentos\Python\Results\CSV\2020-08-19\Fluencia_001.csv'

df = pd.read_csv(filename, header=17, skiprows = [21])

In [20]:
df['T'].count()

1800074

In [25]:
df.dropna(axis = 'rows')

              T     Fx     Fz     LV       Z     Ff    COF  Z Rolling Average
100000    100.0  0.267 -7.974  4.411 -0.0025  0.267  0.034           0.000260
200000    200.0  0.277 -7.983  4.599 -0.0050  0.277  0.035           0.000490
300000    300.0  0.301 -7.981  4.498  0.0000  0.301  0.038           0.000500
400000    400.0  0.365 -8.011  4.787  0.0040  0.365  0.046           0.000500
500000    500.0  0.298 -8.012  4.870 -0.0070  0.298  0.037           0.000500
600000    600.0  0.300 -7.970  4.607 -0.0060  0.300  0.038           0.000010
700000    700.0  0.368 -8.052  5.016  0.0030  0.368  0.046           0.000000
800000    800.0  0.367 -8.055  4.988  0.0030  0.367  0.046           0.000000
900000    900.0  0.305 -7.971  4.689 -0.0060  0.305  0.038           0.000000
1000000  1000.0  0.373 -8.004  5.004  0.0045  0.373  0.047          -0.000365
1100000  1100.0  0.317 -7.966  4.755  0.0010  0.317  0.040          -0.000500
1200000  1200.0  0.295 -7.971  4.561 -0.0040  0.295  0.037          -0.000500
1300000  1300.0  0.316 -8.051  5.004 -0.0020  0.316  0.039          -0.000990
1400000  1400.0  0.327 -8.061  5.014  0.0005  0.327  0.041          -0.001000
1500000  1500.0  0.293 -7.970  4.607 -0.0010  0.293  0.037          -0.001115
1600000  1600.0  0.339 -7.991  4.932  0.0040  0.339  0.042          -0.001500
1700000  1700.0  0.269 -7.975  4.580  0.0000  0.269  0.034          -0.001500
1800000  1800.0  0.277 -7.966  4.478  0.0010  0.277  0.035          -0.001865

In [22]:
for i in range(100,df['T'].count()+1,100):
    df.loc[df['T']==i,'Z Rolling Average'] = df['Z'].head(i).tail(100).mean()

In [15]:
df['Z'].tail(100).describe()

count    1.000000e+02
mean     1.000000e-03
std      6.537985e-19
min      1.000000e-03
25%      1.000000e-03
50%      1.000000e-03
75%      1.000000e-03
max      1.000000e-03
Name: Z, dtype: float64

In [ ]:
# bigger plot elements suitable for giving talks
sns.set_context("talk")
# set figure size
plt.figure(figsize=(9,6))
# Time series plot with Seaborn lineplot()
sns.lineplot(x="T", y="Z", 
            data=df, ci=None)
# axis labels
plt.xlabel("Time (s)", size=14)
plt.ylabel("Height (mm)", size=14)